
.intro{
    text-align: center;
    background-image: url(/resources/Banner\ Image.png);
    padding-bottom: 300px;
    background-repeat: no-repeat;
    
}

.happy{
    color: #080808;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 177px;
}

.celebration{
    color: #080808;
/* text-align: center; */
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */

}

.offer-container {
    text-align: center;
}

.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    margin: 0px;
    padding-top: 0px;

}

.deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 48px;
    margin: 0px;
}

.catagory {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    padding-bottom: 48px;
}

.mid-night {
    display: flex;
    background-image: url(/resources/Vectorrr.png);
    background-repeat: no-repeat;
}

.welcome {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.text {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.party {
    padding-top: 120px;
}

.welcome {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-left: 200px;
    margin-right: 100px;
    padding-top: 10px;
}

.text {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 200px;
    margin-right: 100px;
    padding-top: 0px;

}

.join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding-right: 300px;

}

.victor {
    padding: 100px;
}

span {
    color: #F00;
}


.location {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    padding-top: 150px; 
}
.schedule{
 text-align: center;
}
.best-offer{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: normal;
}
.soon{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.coming{
    padding-right: 70px;
    /* padding-right: ; */
}
.coming-text{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
width: 393px;
/* margin:; */
}
.logo{
    border-radius: 463px;
border: 15px solid #F00;
width: 463px;
height: 463px;
flex-shrink: 0;
}
.year{
    text-align:left;
    padding-left: 118px;
}

.year-2024{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.year-2024{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.year-logo{
    padding: 0px;
    padding-top: 0px;
    border-radius: 463px;
}
.coming-soon{
    display: flex;
}
.functional{
    color: #070211;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
text-align: center;
padding-top: 120px;
}

.sale-50{
    color: #F00;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
}
.sale-text{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
width: 1068px;
text-align: center;
padding-left: 150px;

}
.pictures{
    display: flex;
}
.box{
    width: 137.414px;
height: 137.414px;
flex-shrink: 0;
padding: 355px 303px 127px 155px;
}
.discount{
    width: 206.841px;
height: 206.841px;
flex-shrink: 0;
}
.optional{
    background-image: url(/resources/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: right;
}
.gifts{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.awsome{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.gifts-text{
 color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
width: 896px;
}

.portfolio{
    padding-bottom: 120px;
}

.news-letter{
    width: 1320px;
height: 616px;
flex-shrink: 0;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
text-align: center;
}

.letter-box{
    padding-top: 80px;
}

.news{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.news-text{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    padding-left: 220px;
}
.mail{
    width: 348px;
height: 72px;
flex-shrink: 0;
background: #FFF;

}

.btn{
    width: 170px;
height: 72px;
flex-shrink: 0;
border-radius: 0px 50px 50px 0px;
background: #F00;
color: #FFF;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;

}
.location_two{
    display: flex;
    padding-left: 100px;
    background-color:dimgrey;
}

.contact{
    padding-left: 400px;
    padding-top: 20px;
    background-color: dimgrey;
}
.logos{
    text-align: center;
    padding-left: 100px;
    background-color: dimgrey;
    
    
}

.last{
    display: flex;
    background-color: dimgrey;
}
.last-text{
    padding-left: 100px;
}

.last-type{
    padding-left: 500px;
}